# Ignore everything and selectively allow files
*

!/.envrc
!.github/**/*
!/.gitignore
!.zed/settings.json
!/build.rs
!/Cargo.lock
!/Cargo.toml
!/CODEOWNERS
!/CODE_OF_CONDUCT.md
!/default.nix
!/flake.lock
!/flake.nix
!/LICENSE
!/README.md
!scripts/*
!src/*.rs
!src/snapshots/*
!tests/**/*.rs
!tests/testdata/*
!/typos.toml
target/**/*

# Recurse through sub-directories applying the same patterns
!*/
