# Ignore everything and selectively allow files
*

# Allow project files
!.deepsource.toml
!.dockerignore
!.github/**/*
!.gitignore
!.zed/settings.json
!CODEOWNERS
!CODE_OF_CONDUCT.md
!Dockerfile*
!LICENSE
!README.md
!scripts/*
!typos.toml

# Allow Nix files
!.envrc
!flake.nix
!flake.lock
!default.nix

# Allow Rust files
!Cargo.toml
!Cargo.lock
!src/*.rs
!src/snapshots/*
!tests/*.rs
!tests/testdata/*.key
!build.rs
target/**/*

# Recurse through sub-directories applying the same patterns
!*/
