name: code security
on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "Cargo.*"
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "Cargo.*"
  schedule:
    - cron: "0 5 * * *"
jobs:
  trivy-scan:
    name: code scan
    runs-on: ubuntu-24.04
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: fs
          scan-ref: "."
          scanners: vuln
          format: sarif
          output: trivy-results.sarif

      - name: Upload Report
        uses: github/codeql-action/upload-sarif@2588666de8825e1e9dc4e2329a4c985457d55b32 # v3
        with:
          sarif_file: trivy-results.sarif
