name: nix
on:
  push:
    branches:
      - main
    paths:
      - "*.nix"
      - "**/*.nix"
  pull_request:
    branches:
      - main
    paths:
      - "*.nix"
      - "**/*.nix"
permissions:
  contents: write
jobs:
  alejandra:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install Nix
        uses: cachix/install-nix-action@c134e4c9e34bac6cab09cf239815f9339aaaf84e # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: true
          useDaemon: false

      - name: Run Alejandra
        run: nix develop -c alejandra --check .
